.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal__container {
  background-color: white;
  position: relative;
  padding: 36px;
  border-radius: 10px;
  max-width: 430px;
  margin: auto;
}

.modal_opened {
  visibility: visible;
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 1;
}

.modal__close {
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  outline: none;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.8;
}

.modal__heading {
  color: #000;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0;
  padding-bottom: 54px;
  padding-right: 28px;
}

.modal__input {
  border: none;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  width: 100%;
}

.modal__input:first-of-type {
  margin-bottom: 29px;
}

.modal__input:last-of-type {
  margin-bottom: 30px;
}

.modal__input:not(:first-of-type) {
  margin-top: 25px;
}

.modal__button {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #000;
  color: #fff;
  width: 358px;
  height: 50px;
  cursor: pointer;
  transition: opacity 0.5s linear;
  margin-top: 31px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__button:hover {
  opacity: 1;
}

.modal__button_disabled {
  background-color: #fff;
  border: 1px solid rgba(86, 13, 13, 0.2);
  color: rgba(0, 0, 0, 0.2);
}

.modal__image {
  max-height: 75vh;
  max-width: 75vw;
}

.modal__image-label {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  bottom: -33px;
  left: -200px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0;
}

.modal__container-image {
  background: transparent;
  display: flex;
  position: relative;
  flex-direction: column;
}

.modal__image-close {
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  outline: none;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__error {
  max-width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
}

.modal__error_visible {
  position: absolute;
  display: block;
  color: #ff0000;
  max-height: 12px;
  opacity: 1;
  margin-top: -20px;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

@media screen and (max-width: 320px) {
  .modal {
    margin: 0 auto;
    padding: 0;
  }

  .modal__container {
    max-width: 260px;
    width: 100%;
    padding: 10px;
  }

  .modal__close {
    position: absolute;
    top: -45px;
    right: -0px;
    background-image: url(../images/Close\ Icon.svg);
    border: none;
    background-color: transparent;
    outline: none;
    height: 26px;
    width: 26px;
    left: calc(100% - 40px);
  }

  .modal__form {
    padding: 0 0 15px 5px;
    max-width: 244px;
    width: 100%;
  }

  .modal__heading {
    padding-left: 5px;
    padding-bottom: 0px;
    padding-top: 15px;
    max-width: 238px;
    width: 100%;
    margin-bottom: 75px;
    font-size: 18px;
  }

  .modal__input:first-of-type {
    margin-bottom: 29px;
  }

  .modal__input:last-of-type {
    margin-bottom: 45px;
  }

  .modal__button {
    max-width: 238px;
    align-self: center;
    font-size: 14px;
  }

  .modal__image {
    max-width: 282px;
  }

  .modal__image-label {
    margin-top: 10px;
  }

  .modal__container-image {
    display: flex;
    padding: 0px;
    width: 240px;
  }
}

.modal__image-close {
  width: 30px;
  height: 30px;
  top: -230x;
  right: -15px;
}
