.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.modal__container {
  background-color: white;
  position: relative;
  padding: 36px;
  border-radius: 10px;
  max-width: 430px;
}

.modal_opened {
  display: flex;
  visibility: visible;
}

.modal__close {
  position: absolute;
  top: -45px;
  right: -45px;
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  outline: none;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 50%;
}

.modal__heading {
  color: #000;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0;
  padding-bottom: 54px;
  padding-right: 28px;
}

.modal__input {
  border: none;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

.modal__input:first-of-type {
  margin-bottom: 29px;
}

.modal__input:last-of-type {
  margin-bottom: 48px;
}

.modal__button {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #000;
  color: #fff;
  width: 358px;
  height: 50px;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__button:hover {
  opacity: 50%;
}

@media screen and (max-width: 320px) {
  .modal {
    margin: 0 auto;
    padding: 0;
  }

  .modal__container {
    max-width: 260px;
    width: 100%;
    padding: 10px;
  }

  .modal__close {
    position: absolute;
    top: -45px;
    right: -0px;
    background-image: url(../images/Close\ Icon.svg);
    border: none;
    background-color: transparent;
    outline: none;
    height: 26px;
    width: 26px;
  }

  .modal__form {
    padding: 0 0 15px 5px;
    max-width: 244px;
    width: 100%;
  }

  .modal__heading {
    padding-left: 5px;
    padding-bottom: 0px;
    padding-top: 15px;
    max-width: 238px;
    width: 100%;
    margin-bottom: 75px;
    font-size: 18px;
  }

  .modal__input:first-of-type {
    margin-bottom: 29px;
  }

  .modal__input:last-of-type {
    margin-bottom: 45px;
  }

  .modal__button {
    max-width: 238px;
    align-self: center;
    font-size: 14px;
  }
}
